.full-textarea {
    display: block;
    width: 100%;
    height: 600px;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
}

#title {
    border: 1px solid #ccc;
    color: #555;
    height: 50px;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    padding: 6px 12px;
    font-size: 30px;
    border-radius: 4px;
    margin-right: 10px;
}

#submit {
    height: 50px;
}

#container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 20px;
}

.show-md {
    max-height: 600px;
    overflow: scroll;
}