{% extends "_nav.html" %}

{% block head%}
{{ super() }}
<link href={{url_for("static", filename="css/mainpage.css")}} type="text/css" rel="stylesheet" >
{% endblock %}

{% block body%}

{{ _nav('mainpage') }}

<div class = "container">
    <div class = "blog-header">
        <h1>{{username+"'s Blog" | capitalize}}</h1>
        <p class = "lead blog-description">Where there is a will, there is a way.</p>
    </div>
    <div class = "row">
        <div class = "col-sm-8 blog-main">
            {% for p in papers %}
            <a class = "blog-post" href={{"readpaper/"+p.p_id | string}} >
                <h3> {{p.title}} </h3>
                <p> {{p.updated_at}} </p>
            </a>
            {% endfor %}
        </div>
        <div class = "col-sm-3 blog-side">
        </div>
    </div>
    <ul class="nav nav-pills" id="pages">
        {% for i in range(1, pagination.pages+1)%}
        {% if pagination.page == i %}
        <li role = "presentation" class = "active"><a href = {{"/mainpage?page="+i|string}}>{{i}}</a></li>
        {% else %}
        <li role = "presentation"><a href = {{"/mainpage?page="+i|string}}>{{i}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endblock %}