{% extends "_nav.html" %}

{% block head%}
{{ super() }}
<link href={{url_for("static", filename="css/readpaper.css")}} type="text/css" rel="stylesheet">
{% endblock %}

{% block body%}

{{ _nav('readpaper', paperid, modified) }}

<div id="container">
    <div class="content">
    {{content | safe}}
    </div>
    <div class="comments">
        <div class="existed_comments">
            {% for comment in comments %}
            <div class="existd_comment" id={{comment.id|int}}>
                <div class="comment_header">{{comment.author + ":"}}</div>
                <div class="comment_content">{{comment.content}}</div>
            </div>
            {% endfor %}
        </div>
        <form class="write_comments" method="POST" action="/comment/add">
            <input type="text" name="paperid" style="display:none;" value={{paperid}}>
            <textarea class="write_comment form-control" placeholder="写下你的想法吧！" rows="5" name="comment" maxlength="200">
            </textarea>
            <input type="submit" name="submit" value="提交">
        </form>
    </div>

</div>
{% endblock %}